.leaderboard-container {
  background-image: url("https://media.discordapp.net/attachments/982577768279736390/1001405836364627968/leaderboard-background.png?width=1194&height=675");
  height: 100vh;
  background-size: cover;
  /* background-color: yellow; */
}

.navbar-container {
  /* background-color: green; */
  color: #ffff;
  display: flex;
  height: 70px;
  padding-left: 20px;
  align-items: center;
}
.navbar-container > h2 {
  /* background-color: red; */
  margin-left: 50px;
  font-size: 24px;
}

.navbar-container > img {
  height: 50px;
}
