.navbar__container {
    justify-content: space-between;
    align-items: center;
    background-color: #151515;
}
.navbar__container > h4 {
    flex-grow: 1;
    text-align: right;
    font-size: max(2.5vh, 20px);
    padding-right: 30px;
}
.navbar__icon {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #ff5b4a;
    transition: all 0.5s;
    transform: scale(1.3);
    cursor: pointer;
}