.leaderboardHeader-container {
  display: flex;
  padding-left: 3%;
  /* background-color: brown; */
}
.leaderboardHeader-container > img {
  height: 150px;
  width: 150px;
  border-radius: 5%;
}
.leaderboardHeader-textheader {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 50px;
}
.leaderboardHeader-textheader > h1 {
  font-size: 72px;
  color: #ffff;
  margin-bottom: 10px;
}
.leaderboardHeader-textheader > h2 {
  font-size: 36px;
  color: var(--orange);
}