* {
  min-width: 100%;
}

.admin-header h1 {
  position: absolute;
  width: 568px;
  height: 92px;
  top: 32px;
  text-transform: uppercase;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 78px;
  line-height: 92px;
  /* identical to box height */

  text-align: center;

  color: #000000;
}
.admin-header h2 {
  position: absolute;
  width: 437px;
  height: 52px;
  top: 150px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 52px;
  /* identical to box height */

  text-align: center;

  color: #000000;
}

.admin-body {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 212px;
  background: rgba(32, 27, 27, 0.78);
  border: 10px solid rgba(255, 255, 255, 0.6);
  border-radius: 40px;
}

.admin-header img {
  position: absolute;
  width: 38px;
  height: 53.2px;
  left: 230px;
  top: 145px;
  cursor: pointer;
}
.admin-header img:hover {
  transform: scale(1.1);
}

.circle1 {
  position: absolute;
  width: 788px;
  height: 706.48px;
  left: -1219px;
}
.circle2 {
  position: absolute;
  width: 662.6px;
  height: 510.3px;
  top: 490px;
}

.admin-table {
  position: absolute;
  min-width: 95%;
  width: 240px;
  margin-left: 20px;
  margin-right: 20px;
}


/* */


