.adminLeaderboard {
  overflow-x: overlay;
  overflow-y: clip;
}

.admin-header h1 {
  position: absolute;
  width: 568px;
  height: 92px;
  left: 676px;
  top: 32px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 78px;
  line-height: 92px;
  /* identical to box height */

  text-align: center;

  color: #000000;
}
.admin-header h2 {
  position: absolute;
  width: 437px;
  height: 52px;
  left: 705px;
  top: 160px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 52px;
  /* identical to box height */

  text-align: center;

  color: #000000;
}

.admin-body {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 209px;
  background: rgba(32, 27, 27, 0.78);
  border: 10px solid rgba(255, 255, 255, 0.6);
  border-radius: 40px;
}

.admin-header img {
  position: absolute;
  width: 38px;
  height: 53.2px;
  left: 1120px;
  top: 152px;
}
.admin-header img:hover {
  transform: scale(1.1);
}

.circle1 {
  position: absolute;
  width: 788px;
  height: 706.48px;
  left: -419px;
  top: 0px;
}
/* .circle2 {
  position: absolute;
  width: 662.6px;
  height: 510.3px;
  left: 890px;
  top: 500px;
} */

.admin-table {
  position: absolute;
  min-width: 95%;
  width: 240px;
  margin-left: 20px;
  margin-right: 20px;
}

.custom-headCell {
  width: 584px;
  height: 42px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 42px;

  color: #ff5b4a;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
