.container {
  height: 100vh;
  padding: 0 3% 0 3%;
  overflow-y: overlay;
  background-color: #dcdfe1;
}

.upper__content {
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  min-height: 50vh;
  /* background-color: pink; */
}

.headerText {
  flex-grow: 1;
  /* background-color: red; */
}

.headerText > h1 {
  justify-content: center;
  font-family: "Russo One";
  font-weight: 400;
  font-size: 72px;
  /* background-color: orange; */
}

.headerImage {
  display: flex;
  flex-shrink: 1;
  justify-content: flex-end;
  /* width: 100%; */
  /* background-color: green; */
}

.lower__content {
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  height: 50vh;
  /* background-color: red; */
}

.inputContainer {
  flex-grow: 1;
  display: flex;
  /* background-color: orangered; */
}

.inputContainer > Button {
  height: 60px;
  width: 200px;
  min-width: 200px;
  border-radius: 5px;
  border-width: 0;
  font-size: 24px;
  font-weight: 900;
  color: white;
  background-color: #ff5b4a;
}

.inputContainer > Button:hover {
  background-color: #f18888;
}

.diceContainer {
  display: flex;
  flex-shrink: 1;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
  /* background-color: yellow; */
}

.image {
  max-width: 60vw;
  max-height: 40vh;
  min-height: 100px;
  object-fit: contain;
  /* background-color: lime; */
}
