/* .flex {
  display: flex;
  justify-content: space-between;
}

.ImageBoomSeen {
  position: absolute;
  left: 10%;
  right: 0.36%;
  top: 1.67%;
  bottom: 65.37%;

  transform: rotate(10.2deg);
  background-color: "orange";
}

.head-body h1 {
  position: absolute;
  width: 1131px;
  height: 266px;
  left: 96px;
  top: 217px;

  font-family: "Russo One";
  font-style: normal;
  font-weight: 400;
  font-size: 110px;
  line-height: 133px;

  color: #ce0c0c;
}

.container img {
  display: inline-block;
  position: absolute;
  left: 79.64%;
  right: 0.36%;
  top: 1.67%;
  bottom: 65.37%;
  transform: rotate(10.2deg);
}

.container h1 {

}

.image {
  display: inline-block;
  position: absolute;
  width: 1108.62px;
  padding: 20px;
  height: 900.4px;
  left: 200.04px;
  top: 200px;
  transform: rotate(21.07deg);
}

.leader-btn {
  position: absolute;
  display: inline-block;
  width: 422px;
  height: 90px;
  left: 135px;
  top: 717px;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 32px;
  line-height: 56px;
  text-align: center;
  border-radius: 200px;
  background-color: #ff5b4a;
  border-style: none;
  color: #ffffff;
}

.leader-btn:hover {
  background-color: #f18888;
  color: #ffffff;
}

.dice {
  position: relative;
  left: 2.89%;
  right: 1.66%;
  top: 91.33%;
  bottom: -85.37%;

  transform: matrix(0.93, 0.36, 0.36, -0.93, 0, 0);
} */

.container {
  height: 100vh;
  padding: 0 3% 0 3%;
  overflow-y: overlay;
  /* background-color: brown; */
}

.upper__content {
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  min-height: 50vh;
  /* background-color: pink; */
}

.headerText {
  flex-grow: 1;
  /* background-color: red; */
}

.headerText > h1 {
  justify-content: center;
  font-family: "Russo One";
  font-weight: 400;
  font-size: 72px;
  /* background-color: orange; */
}

.headerImage {
  display: flex;
  flex-shrink: 1;
  justify-content: flex-end;
  /* width: 100%; */
  /* background-color: green; */
}

.lower__content {
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  height: 50vh;
  /* background-color: red; */
}

.inputContainer {
  flex-grow: 1;
  display: flex;
  /* background-color: orangered; */
}

.inputContainer > Button {
  height: 60px;
  width: 200px;
  min-width: 200px;
  border-radius: 5px;
  border-width: 0;
  font-size: 24px;
  font-weight: 900;
  color: white;
  background-color: #ff5b4a;
}

.inputContainer > Button:hover {
  background-color: #f18888;
}

.diceContainer {
  display: flex;
  flex-shrink: 1;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
  /* background-color: yellow; */
}

.image {
  max-width: 60vw;
  max-height: 40vh;
  min-height: 100px;
  object-fit: contain;
  /* background-color: lime; */
}
