.MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"] {
  background: white;
}

.container {
  height: 100vh;
  padding: 2% 3% 0 3%;
  overflow-y: overlay;
  background-color: #dcdfe1;
}

.upper__content {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 3% 0 3%;
  background-color: #dcdfe1;
  /* background-color: pink; */
}

.headerText {
  flex-grow: 1;
  /* background-color: red; */
}

.headerText > h1 {
  justify-content: center;
  font-family: "Russo One";
  font-weight: 400;
  font-size: 72px;
  /* background-color: orange; */
}

.headerImage {
  display: flex;
  flex-shrink: 1;
  justify-content: flex-end;
  /* background-color: green; */
}

.lower__content {
  width: 100%;
  height: 100%;
  min-height: 200px;
  justify-content: space-between;
  align-items: center;
  padding: 0 3% 0 3%;
  background-color: #dcdfe1;
  /* background-color: red; */
}

.lower__content__input {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* align-items: center; */
  height: 100%;
  justify-content: space-evenly;
  /* background-color: cyan; */
}

.inputContainer {
  display: flex;
  align-items: center;
}

.inputContainer > Button {
  height: 60px;
  width: 225px;
  min-width: 150px;
  border-radius: 5px;
  border-width: 0;
  font-size: 18px;
  color: white;
  background-color: #ff5b4a;
}

.inputContainer > Button:hover {
  background-color: #f18888;
}

.diceContainer {
  display: flex;
  flex-shrink: 1;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
  /* background-color: yellow; */
}

.image {
  max-width: 60vw;
  max-height: 30vh;
  min-height: 100px;
  object-fit: contain;
  /* background-color: lime; */
}
