@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  body {
    margin: 0;
    background-color: #DCDFE1;
  }