@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');


body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #DCDFE1;
}

.header h1 {
  position: absolute;
  width: 496px;
  height: 210px;
  left: 257px;
  top: 0px;
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 60px;
  font-style: normal;
  line-height: 80px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}

.marvel-image img {
  position: absolute;
  width: 186px;
  height: 186px;
  left: 26px;
  top: 14px;
}

.bg-project {
  position: absolute;
  width: 1348px;
  height: 98px;
  left: 700px;
  top: 170px;
  background: #000000;
}

.title h2 {
  position: absolute;
  width: 797px;
  height: 98px;
  left: 1200px;
  top: 170px;
  font-family: 'Raleway';
  font-style: normal;
  font-size: 38px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}

.bg-table {
  position: absolute;
  width: 850px;
  height: 58px;
  left: 0px;
  top: 268px;
  background: #151515;
}

.table {
  position: absolute;
  width: 100%;
  height: 0px;
  left: 0px;
  top: 12px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  text-align: right;
  color: #ffffff;
}

.bg-tables {
  position: absolute;
  width: 990px;
  height: 850px;
  left: 0px;
  top: 50px;
  background: #201b1b;
}

.table-point {
  position: absolute;
  width: 1198px;
  height: 50px;
  left: 850px;
  top: 0px;
  background: #151515;
}

.col-point {
  position: absolute;
  width: 98%;
  height: 0px;
  left: 90px;
  top: 12px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  justify-content: space-evenly;
  text-align: center;
  color: #FFFFFF;
}

.bg-point {
  position: absolute;
  width: 1058px;
  height: 850px;
  left: 990px;
  top: 50px;
  background: #242424;
  ;
}

.bg-col1 {
  position: absolute;
  width: 150px;
  height: 850px;
  left: 225px;
  top: 0px;
  background: #000000;
}

.bg-col2 {
  position: absolute;
  width: 150px;
  height: 850px;
  left: 470px;
  top: 0px;
  background: #000000;
}

.col-table1 {
  position: absolute;
  width: 915px;
  height: 45px;
  left: 26px;
  top: 20px;
  background: #FF5B4A;
  border-radius: 10px;
}

.crown1-image {
  position: absolute;
  width: 20px;
  height: 75px;
  left: -18px;
  top: 20px;
}