.adminProject__container {
    height: 100%;
    /* background-color: pink; */
}
.adminProject__alert {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    position: fixed;
    top: 70px;
    z-index: 10;
}
.adminProject__rowContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding-top: 20px;
    /* background-color: brown; */
}
.adminProject__columnContainer {
    width: 100%;
    height: 100vh;
    /* background-color: brown; */
}
.adminProject__leftContent {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 800px;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: red; */
}
.adminProject__topContent {
    display: flex;
    flex-direction: column;
    height: 850px;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: red; */
}
.adminProject__rightContent {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-left: 600px;
    /* justify-content: space-evenly; */
    align-items: center;
    /* background-color: orange; */
}
.adminProject__bottomContent {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-evenly;
    align-items: center;
    /* background: orange; */
}

/* box */
.adminProject__boxHeader {
    font-size: max(2.5vh, 20px);
}
.adminProject__boxContainer {
    width: 95%;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #151515;
}
.adminProject__boxInput {
    display: flex;
    align-items: center;
    background-color: #151515;
    /* margin-bottom: 10px; */
}
.adminProject__boxInput > strong {
    color: #969696;
    /* margin-right: 10px; */
}
.adminProject__boxItem {
    display: flex;
    height: 60px;
    align-items: center;
    padding-left: 10px;
    /* margin-top: 10px; */
}
.adminProject__boxItem > h6 {
    margin-right: 10px;
    font-size: max(2.2vh, 20px);
    color: #FF5B4A;
}
.adminProject__boxItem > div {
    display: flex;
    flex-grow: 1;
    margin-right: 10px;
    font-size: max(1.8vh, 18px);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;
    color: #969696;
}
.adminProject__boxItem > strong {
    display: flex;
    min-width: 80px;
    height: 40px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    margin-right: 10px;
    background-color: white;
}
.adminProject__boxItem > span {
    min-width: 140px;
    height: 70%;
    margin-right: 10px;
    /* background-color: pink; */
}

/* image */
.projectImage__image {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 300px;
    /* object-fit: contain; */
    justify-content: center;
    align-items: center;
    /* background-color: yellow; */
}
.projectImage__form {
    /* padding-top: 10px; */
    display: flex;
    flex-direction: column;
    height: 70px;
    justify-content: space-between;
    flex-direction: column;
    /* background-color: orange; */
}
.projectImage__form > p {
    text-align: center;
    color: white;
    /* background-color: pink; */
}

/* theme */
.projectTheme__input {
    display: flex;
    flex-direction: column;
    height: 100px;
    align-items: center;
    justify-content: space-around;
}

/* task */
.projectTask__switch {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
}
.projectTask__switch > h3 {
    color: white;
}

/* footer */
.projectFooter > button {
    display: flex;
    width: 120px;
    height: 40px;
    align-items: center;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    background-color: #FF5B4A;
    transition: all 0.5s;
}
.projectFooter > #back-button > div {
    display: flex;
    align-items: center;
    position: absolute;
    top: 20px;
    left: 20px;
    transition: all 0.3s;
    opacity: 0;
}
.projectFooter > #back-button > span {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}
.projectFooter > #back-button:hover {
    background-color: #FD2020;
}
.projectFooter > #back-button:hover > div {
    opacity: 1;
    left: 30px;
}
.projectFooter > #back-button:hover > span {
    padding-left: 20px;
}
.projectFooter > #save-button > div {
    display: flex;
    align-items: center;
    position: absolute;
    top: 20px;
    right: 20px;
    transition: all 0.3s;
    opacity: 0;
}
.projectFooter > #save-button > span {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}
.projectFooter > #save-button:hover {
    background-color: #FD2020;
}
.projectFooter > #save-button:hover > div {
    opacity: 1;
    right: 40px;
}
.projectFooter > #save-button:hover > span {
    padding-right: 30px;
}
.projectFooter > #saving-button > div {
    display: flex;
    align-items: center;
    position: absolute;
    top: 20px;
    right: 40px;
}
.projectFooter > #saving-button > span {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-right: 30px;
}

/* loader */
.loader {
    border: 3px solid white;
    border-radius: 50%;
    border-top: 3px solid #151515;
    width: 24px;
    height: 24px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }